<!-- templates/data_overview.html -->
{% extends "base.html" %}

{% block content %}
<h2>Data Overview</h2>
<p>This page is under construction. Future links will include:</p>
<ul>
    <li>Family data</li>
<br>
    <li>Individual data</li>
<br>    
    <li>Variant data</li>
</ul>

<p>
    For more details or inquiries regarding data access, meet us at abstract no. AB-2520 at the Computational Biology Conference 2.O on 9th December 2025, or  
    <a href="{{ url_for('contact') }}">contact us here</a>.
</p>
{% endblock %}
