<!-- templates/stats_overview.html -->
{% extends "base.html" %}

{% block content %}
<h2>Statistics Overview</h2>
<p>This page is under construction. Future links will include:</p>
<ul>
    <li>Family statistics</li>
<br>
    <li>Individual statistics</li>
<br>
    <li>Variant statistics</li>
</ul>

<p>
    For more details or inquiries regarding data access, meet us at abstract no. AB-2520 at the Computational Biology Conference 2.O on 9th December 2025, or 
    <a href="{{ url_for('contact') }}">reach out to us here</a>.
</p>
{% endblock %}
